# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default_twitter: &default_twitter
  twitter_api_key: <%= ENV["TWITTER_API_KEY"] %>
  twitter_api_secret: <%= ENV["TWITTER_API_SECRET"] %>

default_facebook: &default_facebook
  facebook_api_key: <%= ENV["FACEBOOK_API_KEY"] %>
  facebook_api_secret: <%= ENV["FACEBOOK_API_SECRET"] %>

development:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  <<: *default_twitter
  <<: *default_facebook

test:
  secret_key_base: <%= ENV["SECRET_KEY_BASE_TEST"] %>
  <<: *default_twitter
  <<: *default_facebook
  
staging:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  <<: *default_twitter
  <<: *default_facebook

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  twitter_api_key: <%= ENV["TWITTER_API_KEY"] %>
  twitter_api_secret: <%= ENV["TWITTER_API_SECRET"] %>
   
